.predictionAndOneTimeDiv  {
    display: none;
}

.goalDoYouKnow {
	display: none;
}

.retirementHiddenBox {
	display: none;
}

.retirementDoYouKnow {
	display: none;
}

.systematicHiddenBox {
	display: none;
}

.sipDoYouKnow {
	display: none;
}