<template data-sly-template.body="${ @ page}">
    <body class="${wcmmode.edit ? 'author-mode' : 'home blog'}">
    	<sly data-sly-test="${wcmmode.edit}">
        	<div class="container-fluid">
        </sly>
	    <sly data-sly-use.header="header.html" data-sly-call="${header.header @ page = page}"/>
	    <sly data-sly-include="content.html"/>
	    <sly data-sly-use.footer="footer.html" data-sly-call="${footer.footer @ page = page}"/>
        <sly data-sly-test="${wcmmode.edit}">
	    	</div>
        </sly>
    </body>
</template>